*{
    margin: 0px;
    padding: 0px;
    font-family: Avenir, sans-serif;
}
nav ul{
    list-style-type: none;
}
nav li{
    float: left;
}
nav ul ::after{
    content: "";
    display: table;
    clear: both;
}
nav li{
    float: left;
    width: 20%;
    text-align: center;
    font-size: 27px;
}
nav{
    width: 100%;
    margin: 0 auto;
}
nav a{
    display: block;
    text-decoration: none;
    color:rgb(110, 65, 7);
}
nav a:hover{
    color: rgb(246, 244, 242);
    border-bottom: 2px solid rgb(125, 63, 9);
    background-color: rgb(133, 57, 3);
    
}
nav a{
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
}
nav a{
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

nav{
    width: 100%;
    margin: 0 auto;
    background-color: white;
    position: sticky;
    top: 0px;
}
body{
    margin-left: 20%;
    margin-right: 20%;
}

h1{
    float: left;
    width: 100%;
    text-align: center;
    font-size: 60px;
    margin-top: 5%;
    margin-bottom: 5%;
}
span{
    color: rgb(115, 58, 5);
}
img {
    display: flex;
    width: 100%;
}